{% render 'partials/head.liquid' %}

<main class="bk-lijst-main">
    <!-- artricle-gift uit partials -->
    {% for cadeau in myList %}
    {% render 'partials/article-gift.liquid', gift: cadeau %}
    {%- endfor %}
</main>

{% render 'partials/foot.liquid', squads: squads %}